# Procesamiento de datos COVID con Pandas

In [1]:
import pandas as pd

## Fuente de Datos
[Johns Hopkins](https://systems.jhu.edu/research/public-health/ncov/)

[Datos en GitHub](https://github.com/CSSEGISandData/COVID-19)

## Leemos los CSV descargados

In [3]:
confirmados_df = pd.read_csv('covid/time_series_covid19_confirmed_global.csv')
muertes_df = pd.read_csv('covid/time_series_covid19_deaths_global.csv')
recuperados_df = pd.read_csv('covid/time_series_covid19_recovered_global.csv')

In [4]:
confirmados_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,15205,15750,16509,17267,18054,18969,19551,20342,20917,21459
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1137,1143,1164,1184,1197,1212,1232,1246,1263,1299
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,9394,9513,9626,9733,9831,9935,10050,10154,10265,10382
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,764,765,844,851,852,852,852,852,852,852
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,86,86,86,86,86,86,88,91,92,96

In [6]:
muertes_df.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,80,84,87,95,103,111,111,112,112,127
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,47,47,47,48,48,48,48,48,48,48
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
confirmados_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/31/20', '6/1/20', '6/2/20', '6/3/20', '6/4/20', '6/5/20', '6/6/20',
       '6/7/20', '6/8/20', '6/9/20'],
      dtype='object', length=144)

In [8]:
confirmados_df.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/31/20', '6/1/20', '6/2/20', '6/3/20', '6/4/20', '6/5/20', '6/6/20',
       '6/7/20', '6/8/20', '6/9/20'],
      dtype='object', length=140)

## Uniendo Dataframes de Casos: Confirmados, Muertes y Recuperados

In [10]:
fechas = confirmados_df.columns[4:]

In [11]:
confirmados_df_long = confirmados_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=fechas, 
    var_name='Date', 
    value_name='Confirmados'
)

In [12]:
confirmados_df_long

,Province/State,Country/Region,Lat,Long,Date,Confirmados
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,6/9/20,514
37236,NaN,Yemen,15.552727,48.516388,6/9/20,524
37237,NaN,Comoros,-11.645500,43.333300,6/9/20,141
37238,NaN,Tajikistan,38.861034,71.276093,6/9/20,4690
37239,NaN,Lesotho,-29.609988,28.233608,6/9/20,4

In [13]:
muertes_df_long = muertes_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=fechas, 
    var_name='Date', 
    value_name='Muertes'
)

In [14]:
recuperados_df_long = recuperados_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=fechas, 
    var_name='Date', 
    value_name='Recuperados'
)

In [15]:
muertes_df_long

,Province/State,Country/Region,Lat,Long,Date,Muertes
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,6/9/20,12
37236,NaN,Yemen,15.552727,48.516388,6/9/20,127
37237,NaN,Comoros,-11.645500,43.333300,6/9/20,2
37238,NaN,Tajikistan,38.861034,71.276093,6/9/20,48
37239,NaN,Lesotho,-29.609988,28.233608,6/9/20,0

In [16]:
recuperados_df_long

,Province/State,Country/Region,Lat,Long,Date,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
35415,NaN,Sao Tome and Principe,0.186360,6.613081,6/9/20,76
35416,NaN,Yemen,15.552727,48.516388,6/9/20,23
35417,NaN,Comoros,-11.645500,43.333300,6/9/20,67
35418,NaN,Tajikistan,38.861034,71.276093,6/9/20,2815
35419,NaN,Lesotho,-29.609988,28.233608,6/9/20,2

In [17]:
# Depuramos la data de Canada

In [18]:
recuperados_df_long = recuperados_df_long[recuperados_df_long['Country/Region']!='Canada']

In [19]:
recuperados_df_long

,Province/State,Country/Region,Lat,Long,Date,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
35415,NaN,Sao Tome and Principe,0.186360,6.613081,6/9/20,76
35416,NaN,Yemen,15.552727,48.516388,6/9/20,23
35417,NaN,Comoros,-11.645500,43.333300,6/9/20,67
35418,NaN,Tajikistan,38.861034,71.276093,6/9/20,2815
35419,NaN,Lesotho,-29.609988,28.233608,6/9/20,2

In [20]:
# Realizamos la UniÃ³n

In [21]:
full_table = confirmados_df_long.merge(
  right=muertes_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [22]:
full_table = full_table.merge(
  right=recuperados_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [23]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0.0,0.0
...,...,...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,6/9/20,514,12.0,76.0
37236,NaN,Yemen,15.552727,48.516388,6/9/20,524,NaN,NaN
37237,NaN,Comoros,-11.645500,43.333300,6/9/20,141,2.0,67.0
37238,NaN,Tajikistan,38.861034,71.276093,6/9/20,4690,NaN,NaN
37239,NaN,Lesotho,-29.609988,28.233608,6/9/20,4,0.0,2.0

## Limpieza de Datos

* Convertir Strings a Fechas
* Reemplazar valores NaN con 0s
* Existe Data de Cruceros que deberÃ­a separarse

In [24]:
# Convertir Strings a Dates

In [25]:
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [26]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0.0,0.0
...,...,...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,2020-06-09,514,12.0,76.0
37236,NaN,Yemen,15.552727,48.516388,2020-06-09,524,NaN,NaN
37237,NaN,Comoros,-11.645500,43.333300,2020-06-09,141,2.0,67.0
37238,NaN,Tajikistan,38.861034,71.276093,2020-06-09,4690,NaN,NaN
37239,NaN,Lesotho,-29.609988,28.233608,2020-06-09,4,0.0,2.0

In [27]:
full_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37240 entries, 0 to 37239
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  11340 non-null  object
 1   Country/Region  37240 non-null  object
 2   Lat             37240 non-null  float64
 3   Long            37240 non-null  float64
 4   Date            37240 non-null  datetime64[ns]
 5   Confirmados     37240 non-null  int64
 6   Muertes         35560 non-null  float64
 7   Recuperados     33320 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.6+ MB

In [28]:
# Valores NaN

In [29]:
full_table.isna().sum()

Province/State    25900
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmados           0
Muertes            1680
Recuperados        3920
dtype: int64

In [30]:
# Reemplazamos los NaN con 0s

In [31]:
full_table['Muertes'] = full_table['Muertes'].fillna(0)

In [32]:
full_table['Recuperados'] = full_table['Recuperados'].fillna(0)

In [33]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0.0,0.0
...,...,...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,2020-06-09,514,12.0,76.0
37236,NaN,Yemen,15.552727,48.516388,2020-06-09,524,0.0,0.0
37237,NaN,Comoros,-11.645500,43.333300,2020-06-09,141,2.0,67.0
37238,NaN,Tajikistan,38.861034,71.276093,2020-06-09,4690,0.0,0.0
37239,NaN,Lesotho,-29.609988,28.233608,2020-06-09,4,0.0,2.0

In [34]:
# Extraer datos de 3 cruceros: Grand Princess, Diamond Princess and MS Zaandam

In [35]:
full_table[full_table['Province/State'] == 'Grand Princess']

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados
37,Grand Princess,Canada,37.6489,-122.6655,2020-01-22,0,0.0,0.0
303,Grand Princess,Canada,37.6489,-122.6655,2020-01-23,0,0.0,0.0
569,Grand Princess,Canada,37.6489,-122.6655,2020-01-24,0,0.0,0.0
835,Grand Princess,Canada,37.6489,-122.6655,2020-01-25,0,0.0,0.0
1101,Grand Princess,Canada,37.6489,-122.6655,2020-01-26,0,0.0,0.0
...,...,...,...,...,...,...,...,...
35947,Grand Princess,Canada,37.6489,-122.6655,2020-06-05,13,0.0,0.0
36213,Grand Princess,Canada,37.6489,-122.6655,2020-06-06,13,0.0,0.0
36479,Grand Princess,Canada,37.6489,-122.6655,2020-06-07,13,0.0,0.0
36745,Grand Princess,Canada,37.6489,-122.6655,2020-06-08,13,0.0,0.0
37011,Grand Princess,Canada,37.6489,-122.6655,2020-06-09,13,0.0,0.0

In [36]:
# Extraemos la informacion de los cruceros

In [37]:
ship_rows = full_table['Province/State'].str.contains('Grand Princess') | full_table['Province/State'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('Diamond Princess') | full_table['Country/Region'].str.contains('MS Zaandam')
full_ship = full_table[ship_rows]

In [38]:
ship_rows

0        False
1        False
2        False
3        False
4        False
         ...
37235    False
37236    False
37237    False
37238    False
37239    False
Length: 37240, dtype: bool

In [39]:
# Quitamos la informacion de los cruceros del full_table

In [40]:
full_table = full_table[~(ship_rows)]

In [41]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0.0,0.0
...,...,...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,2020-06-09,514,12.0,76.0
37236,NaN,Yemen,15.552727,48.516388,2020-06-09,524,0.0,0.0
37237,NaN,Comoros,-11.645500,43.333300,2020-06-09,141,2.0,67.0
37238,NaN,Tajikistan,38.861034,71.276093,2020-06-09,4690,0.0,0.0
37239,NaN,Lesotho,-29.609988,28.233608,2020-06-09,4,0.0,2.0

## AgregaciÃ³n de InformaciÃ³n

`casos activos = confirmados â€” muertes â€” recuperados`

In [43]:
full_table['Activos'] = full_table['Confirmados'] - full_table['Muertes'] - full_table['Recuperados']

/Users/onix/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmados,Muertes,Recuperados,Activos
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0.0,0.0,0.0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0.0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0.0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0.0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
37235,NaN,Sao Tome and Principe,0.186360,6.613081,2020-06-09,514,12.0,76.0,426.0
37236,NaN,Yemen,15.552727,48.516388,2020-06-09,524,0.0,0.0,524.0
37237,NaN,Comoros,-11.645500,43.333300,2020-06-09,141,2.0,67.0,72.0
37238,NaN,Tajikistan,38.861034,71.276093,2020-06-09,4690,0.0,0.0,4690.0
37239,NaN,Lesotho,-29.609988,28.233608,2020-06-09,4,0.0,2.0,2.0

In [45]:
# Agrupamos por fecha y paÃ­s

In [46]:
full_grouped = full_table.groupby(['Date', 'Country/Region'])['Confirmados', 'Muertes', 'Recuperados', 'Activos'].sum().reset_index()

/Users/onix/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [47]:
full_grouped

,Date,Country/Region,Confirmados,Muertes,Recuperados,Activos
0,2020-01-22,Afghanistan,0,0.0,0.0,0.0
1,2020-01-22,Albania,0,0.0,0.0,0.0
2,2020-01-22,Algeria,0,0.0,0.0,0.0
3,2020-01-22,Andorra,0,0.0,0.0,0.0
4,2020-01-22,Angola,0,0.0,0.0,0.0
...,...,...,...,...,...,...
26035,2020-06-09,West Bank and Gaza,481,3.0,404.0,74.0
26036,2020-06-09,Western Sahara,9,1.0,6.0,2.0
26037,2020-06-09,Yemen,524,0.0,0.0,524.0
26038,2020-06-09,Zambia,1200,10.0,912.0,278.0
26039,2020-06-09,Zimbabwe,314,4.0,46.0,264.0

## Guardamos el DataFrame

In [48]:
full_grouped.to_csv('COVID-completo.csv')

## Graficar la informacion

In [50]:
import altair as alt # instalar con este comando: pip install altair

In [51]:
bo = full_grouped[full_grouped['Country/Region'] == 'Bolivia']

In [52]:
bo

            Date Country/Region  Confirmados  Muertes  Recuperados  Activos
20    2020-01-22        Bolivia            0      0.0          0.0      0.0
206   2020-01-23        Bolivia            0      0.0          0.0      0.0
392   2020-01-24        Bolivia            0      0.0          0.0      0.0
578   2020-01-25        Bolivia            0      0.0          0.0      0.0
764   2020-01-26        Bolivia            0      0.0          0.0      0.0
...          ...            ...          ...      ...          ...      ...
25130 2020-06-05        Bolivia        12728    427.0       1739.0  10562.0
25316 2020-06-06        Bolivia        13358    454.0       1902.0  11002.0
25502 2020-06-07        Bolivia        13643    465.0       2086.0  11092.0
25688 2020-06-08        Bolivia        13949    475.0       2159.0  11315.0
25874 2020-06-09        Bolivia        14644    487.0       2190.0  11967.0

[140 rows x 6 columns]

In [53]:
base = alt.Chart(bo).mark_bar().encode(
    x='monthdate(Date):O',
).properties(
    width=500
)

In [54]:
muertes = alt.value("#f54242")

In [55]:
base.encode(y='Confirmados').properties(title='Total Confirmados') | base.encode(y='Muertes', color=muertes).properties(title='Total Muertes')

alt.HConcatChart(...)